version: "3.9"
services:
  cex-notbinance:
    build:
      context: ..
      dockerfile: docker/Dockerfile.cex
    image: hermeneutic/cex
    command: ["notbinance", "/app/data/notbinance.ndjson", "9001", "notbinance-token", "150"]
  cex-notcoinbase:
    build:
      context: ..
      dockerfile: docker/Dockerfile.cex
    image: hermeneutic/cex
    command: ["notcoinbase", "/app/data/notcoinbase.ndjson", "9002", "notcoinbase-token", "200"]
  cex-notkraken:
    build:
      context: ..
      dockerfile: docker/Dockerfile.cex
    image: hermeneutic/cex
    command: ["notkraken", "/app/data/notkraken.ndjson", "9003", "notkraken-token", "220"]
  aggregator:
    build:
      context: ..
      dockerfile: docker/Dockerfile.aggregator
    image: hermeneutic/aggregator
    depends_on:
      - cex-notbinance
      - cex-notcoinbase
      - cex-notkraken
    ports:
      - "50051:50051"
  bbo:
    build:
      context: ..
      dockerfile: docker/Dockerfile.bbo
    image: hermeneutic/bbo
    depends_on:
      - aggregator
    command: ["aggregator:50051", "agg-docker-token", "BTCUSDT"]
  volume_bands:
    build:
      context: ..
      dockerfile: docker/Dockerfile.volume
    image: hermeneutic/volume
    depends_on:
      - aggregator
    command: ["aggregator:50051", "agg-docker-token", "BTCUSDT"]
  price_bands:
    build:
      context: ..
      dockerfile: docker/Dockerfile.price
    image: hermeneutic/price
    depends_on:
      - aggregator
    command: ["aggregator:50051", "agg-docker-token", "BTCUSDT"]
